@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

@font-face {
    font-family: 'Firlest';
    src: url('/fonts/Firlest.ttf') format('truetype');
    font-display: swap;
}

:root {
    --font-firlest: 'Firlest', cursive;
    --font-cinzel: 'Cinzel', serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: var(--font-cinzel);
}

#app {
    width: 100%;
    height: 100vh;
}